<!DOCTYPE html>
<html>
<head>
  <title>Ben Kissick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='containter'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a href="https://www.facebook.com/ben.kissick"><i class='fa fa-facebook-square'></i></a>
      <a href="https://twitter.com/BenKissick"><i class='fa fa-twitter-square'></i></a>
      <a href="https://www.instagram.com/bmkissick/?hl=en"><i class='fa fa-instagram'></i></a>
      <%= link_to root_path, class: 'navbar-brand' do %>
      Home
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
      </ul>
      
    </div><!-- / .navbar-collapse -->
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
